button{
    border: none;
   
    cursor: pointer;
   background-color:black;
    font-size: 15px;
    color: white;
    font-style: inherit;
    padding: 15px;
    font-weight: 550;
  

}



.connect{
 
    background-color:orangered;
    border-radius:5px;
    color: whitesmoke;
  
  
}

.imggs{
    max-width: 300px;
}

h2,h1{
    color: white;
}

img{
    max-width: 100%;
    aspect-ratio: 1/1;
   
}
body{
    background-color: rgb(81, 78, 78);
}

.example-card {
    max-width: 350px;
  }

  .icon-display {
    transform: scale(1.5);
    margin-left:20px;
 }
 

 .logo{
    width: 100px;
    height: 18px;
    background-color: aliceblue;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
  
 }

 .animate{
    transform: scale(1);

 }
 

 a{
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    display: inline;
 }

 .fixed{
    position: fixed;
    width: 100%;
    transition:  0.2s linear;
    top: 0;
    opacity: 1;
   
    background-color: black;
 }

 .notfixed{
    position: static;
    transition: 0.1s step-end ;
    top:20px;
 }

 .ab{
    animation-name: anime;
    animation-duration: 2s;
   transition: ease-in;
 animation-delay: 0.5s;
    animation-fill-mode: forwards;

 }

 .head{
    position: static;
    animation-name: anime;
    transition: 1s;
    animation-delay: 0.2s;
    animation-duration: 2s;
 
   
 }
 @keyframes anime{
    from{
      left: 0;
      rotate: 50deg;

    }

    to{
        left: 70%;

    }

 }


 

 .hovered{
      background-color: red;
 }
 .nothovered{
    background-color: white;
 }



  .j{
     
    transform: translateY(20px);
    opacity: 0;
    transition: all 2s  ease;
  }

.animate{
    transform: translateY(5px);
    opacity: 1;
    

  }